
* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4vh;

  color: white;
}
body {
  overflow: hidden;
}
#container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 30px;

  font-size: 6vh;
}

#text-container {
  margin-bottom: 100px;
}

#time-el {
  margin: 70px;
  font-size: 6vh;
}

.main-btn {
  display: inline-block;
  border: solid 3px white;
  padding: 10px;
  border-radius: 100px;
  padding: 20px 50px;
  cursor: pointer;
  margin: 10px;
  background: none;
}
#start-btn {
  color: white;
  border: solid 3px white;
  opacity: 100%;
}

.circle {
  border: none;
  padding: 3vh;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  border-radius: 50%;
}

#themeChange-btn {
  position: fixed;
  bottom: 2%;
  left: 2%;
  cursor: pointer;
}
#navbar-btn {
  border: none;
  padding: 3vh;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  border-radius: 50%;
  position: fixed;
  bottom:2%;
  left: 2%;
  cursor: pointer;
}
.dark-theme {
  background: #4b6cb7; /* fallback for old browsers */
  background: linear-gradient(
    135deg,
    #182848 0%,
    #4b6cb7 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-theme {
  background: #ec6f66; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #f3a183,
    #ec6f66
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

