* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4vh;

  color: white;
}

#container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 30px;

  font-size: 6vh;
}

#text-container {
  margin-bottom: 100px;
}

#time-el {
  margin: 70px;
  font-size: 6vh;
}

.main-btn {
  display: inline-block;
  border: solid 3px white;
  padding: 10px;
  border-radius: 100px;
  padding: 20px 50px;
  cursor: pointer;
  margin: 10px;
  background: none;
}
#start-btn {
  color: white;
  border: solid 3px white;
  opacity: 100%;
}

#backgroundChange-btn {
  border: none;
  padding: 3vh;
  display: inline-block;
  font-size: 16px;
  margin: 10px 15px;
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.dark-theme {
  background: #4b79a1 linear-gradient(to right, #283e51, #4b79a1); 
}

.light-theme {
  background: linear-gradient(
    to right,
    #ff9068,
    #fd746c
  ); }


